@page
@model ProblemModel
@{
    Layout = "~/Pages/Layout/_Same.cshtml";
}

@section Add{
    <div style="background-color:aquamarine">
        Problem页面的Section
    </div>
}

<h1>我是Problem界面</h1>

    @foreach (var problem in Model.Problems)
    {
        <div>
            <small>@problem.PublishTime</small>
            <a href="">@problem.Author</a>
            <h3>@problem.Title</h3>
            <p>@problem.Body</p>
            @foreach (var keyword in problem.Keywords)
            {
                <label>@keyword</label>
                
            }

       </div>
    }





